<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27155477934-1et4ro5i0s696jpelkjsrsqb54de7t8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27155477934-1et4ro5i0s696jpelkjsrsqb54de7t8t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>27155477934-et7mle9m83d1u5tciehhkrvr65kjp4e8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbxtAc1s7I0C2_XGkCosPv96ghXyNgQ9E</string>
	<key>GCM_SENDER_ID</key>
	<string>27155477934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartwind</string>
	<key>PROJECT_ID</key>
	<string>smart-wind</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-wind.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27155477934:ios:0d7ff0bd9c384c3d30043f</string>
	<key>DATABASE_URL</key>
	<string>https://smart-wind-default-rtdb.firebaseio.com</string>
</dict>
</plist>