/*
----------------------------------------
RF-SMART Handheld
     Author:    Dennis Eusebio
---------------------------------------- */

/* zeros out everything */
@import "whitespace-reset.css";

body {
  background: #ecf0f5;
  font: 14px/18px "Helvetica", Arial, sans-serif;
  color: #000;
}

/* links
---------------------------------------- */
a:link { color: #1c3a70; }
a:visited { color: #1c3a70; }
a:hover { color: #000; }
a:active { color: #1c3a70; }

/* headers
---------------------------------------- */
h1, h2 { font-size: 18px; }

/* lists
---------------------------------------- */
dl, dt, dd { margin: 0; padding: 0; }

/* universal
---------------------------------------- */
.inside { padding: 10px; }
.menuinput_text { display:none;}

section#nav_bar {
   width: 100%;
  background: #1c3a70 url(../images/bg_navbar.png) 0 0 repeat-x;
  text-shadow: #000 0px 0px 1px;
  color: #fff;
  -moz-box-shadow: #333 0px 1px 1px;
  -webkit-box-shadow: #333 0px 1px 3px;
  box-shadow: #333 0px 1px 1px;
  text-align: center;
  position: relative;
}
  section#nav_bar a.F4 {
    padding: 5px 10px;
    position: absolute;
    top: 3px; 
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #14294d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }  
  section#nav_bar a.F7 {
    padding: 5px 10px;
    position: absolute;
    top: 3px; 
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #14294d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
   
  section#nav_bar a.F3 {
     padding: 5px 10px;
    position: absolute;
    top: 3px; right: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #14294d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }   
  
section#global_search {
  width: 100%;
  background: #666;
  -moz-box-shadow: #333 0px 1px 1px;
  -webkit-box-shadow: #333 0px 1px 3px;
  box-shadow: #333 0px 1px 1px;
}
  section#global_search input {
    padding: 5px;
    width: 98%;
    font-size: 12px;
    font-family: "Helvetica", Arial, sans-serif;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: none;
    background: #fff url(../images/icon_search.png) 5px 50% no-repeat;
  }
section#app_title, #footer {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background: #eee url(../images/bg_table_header.png) 0 50% repeat-x;
  border-bottom: 1px solid #ccc;
}
section#global_search {
  width: 100%;
  background: #666;
  -moz-box-shadow: #333 0px 1px 1px;
  -webkit-box-shadow: #333 0px 1px 3px;
  box-shadow: #333 0px 1px 1px;
}
  section#global_search input {
    padding: 5px;
    width: 98%;
    font-size: 12px;
    font-family: "Helvetica", Arial, sans-serif;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: none;
    background: #fff url(../images/icon_search.png) 5px 50% no-repeat;
  }
section#sub_nav {
  width: 100%;
  background: #eee url(../images/bg_subnav.png) repeat-x;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  -moz-box-shadow: #333 0px 1px 1px;
  -webkit-box-shadow: #333 0px 1px 3px;
  box-shadow: #333 0px 1px 1px;
}
  section#sub_nav a {
    float: left;
    width: 50%;
    text-align: center;
    font-weight: bold;
    text-shadow: #fff 0px 0px 1px;
    color: #333;
    background: url(../images/border.png) right repeat-y;
  }
    section#sub_nav a:hover { color: #000; }
    section#sub_nav a.last { background-image: none; }
    section#sub_nav a.active {
      background-color: #999;
      color: #fff;
    }
    section#sub_nav a span {
      padding: 10px;
      display: block;
    }
section#main_menu {
  width: 100%;
  background: #fff;
  overflow: hidden;
}
  section#main_menu li {
    float: left;
    width: 100%;
  }
  section#main_menu a {
    padding: 10px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #333;
    background: url(../images/arrow.png) right no-repeat;
  }
    section#main_menu a span { display: none; }
    section#main_menu a:hover { color: #000; }
section#progress {
  width: 100%;
  color: #fff;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
  section#progress .inside { overflow: hidden; }
  section#progress li {
    margin-right: 5px; padding: 0;
    text-indent: -9999px;
    float: left;
    width: 10px; height: 10px;
    background: #999;
  }
    section#progress li.active { background-color: #1c3a70; }
section#application {
  width: 100%;
  background: #fff;
}
  section#application article.module {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
    section#application article.module.active { background: #e7eef9; }
      section#application .input_text { border: 1px solid #1c3a70; }
    section#application .error { background: #f7e4e4; color: #000; }
      section#application .warning {
        font-weight: bold;
        font-size: 12px;
      }
      section#application .input_text { border: 1px solid #fe0000; }
    section#application label {
      margin-bottom: 5px;
      font-size: 16px;
      display: block;
      font-weight: bold;
    }
    section#application .input_text {
      padding: 5px;
      border: 1px solid #ccc;
      background: #fff;
      font-weight: bold;
      font-size: 12px;
      font-family: "Helvetica", Arial, sans-serif;
      margin-bottom:10px;
    }

  section#application .tip span a.contextbutton {
  margin-top: 5px; padding: 5px 10px;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  background: #1c3a70 url(../images/bg_navbar.png) 0 -10px repeat-x;
  color: #fff;
  }
.tip .contextbutton { margin-right: 5px; }
section#application .tip { font-size: 12px; }

article.success {
  margin: 10px; padding: 10px;
  background: #ccffcc;
  border: 1px solid #477147;
}
  article.success h3 {
    margin-bottom: 20px;
    color: #477147;
  }
  article.success.mini h3 { margin: 0; }
  article.success dl { margin-bottom: 10px; }
  article.success dt { font-weight: bold; }
article.validationerror {
  margin: 10px; padding: 10px;
  background: #f7e4e4;
  border: 1px solid #ff0000;
  word-wrap:break-word;
}
  article.validationerror h3 {
    color: #fe0000;
  }
  
  
article.error {
  margin: 10px; padding: 10px;
  background: #ccffcc;
  border: 1px solid #ff0000;
  background: #f7e4e4;
  word-wrap:break-word;
}
  article.error h3 {
    padding: 10px 0 10px 40px;
    color: #fe0000;
    background: url(../images/icon_error.png) 0 50% no-repeat;
  }
  article.error dl { margin-bottom: 10px; }
  article.error dt { 
    margin-bottom: 5px;
    font-weight: bold;
  }
  article.error form {
    margin-left: 40px;
  }
  article.error .input_text {
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: "Helvetica", Arial, sans-serif;
    width: 50px;
  }
section#sign_in {
  width: 100%;
}
  section#sign_in form#user_sign_in {
    margin: 10px; padding: 10px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
    form#user_sign_in dl { margin-bottom: 10px; }
    form#user_sign_in dt { margin-bottom: 5px; }
    form#user_sign_in label { font-weight: bold; }
    form#user_sign_in .input_text {
      padding: 5px;
      border: 1px solid #ccc;
      font-size: 12px;
      width: 250px;
      font-family: "Helvetica", Arial, sans-serif;
    }
    form#user_sign_in .btn_primary {
      padding: 5px 10px;
      font-weight: bold;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background: #1c3a70 url(../images/bg_navbar.png) 0 -10px repeat-x;
      border: 1px solid #1c3a70;
      font-size: 12px;
      color: #fff;
      font-family: "Hevletica", Arial, sans-serif;
    }
    /*BEGIN NEW SECONDARY BUTTONS CSS */
    nav.secondary_buttons {
      overflow: hidden;
      width: 100%;
      background: #eee;
      border-bottom: 1px solid #ccc;
      -moz-box-shadow: inset #fff 0px 1px 1px;
      -webkit-box-shadow: inset #fff 0px 1px 3px;
      box-shadow: inset #fff 0px 1px 1px;
    }
    nav.secondary_buttons ul {
        margin: 10px;
        overflow: hidden;
      }
      nav.secondary_buttons li { display: inline-block; }
      nav.secondary_buttons li a {
        margin-top: 5px; padding: 5px 10px;
        font-weight: bold;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        display: inline-block;
        background: #1c3a70 url(../images/bg_navbar.png) 0 -10px repeat-x;
        color: #fff;
        font-size: 12px;
      }
    /*END NEW SECONDARY BUTTONS CSS */
    /* BEGIN OLD SECONDARY BUTTONS CSS
    nav.secondary_buttons {
  overflow: hidden;
  width: 100%;
  text-align: center;
  background: #eee;
  border-bottom: 1px solid #ccc;
  -moz-box-shadow: inset #fff 0px 1px 1px;
  -webkit-box-shadow: inset #fff 0px 1px 3px;
  box-shadow: inset #fff 0px 1px 1px;
}
  nav.secondary_buttons ul {
    margin: 10px 5px;
    overflow: hidden;
  }
  nav.secondary_buttons li { display: inline-block; }
  nav.secondary_buttons li a {
    margin-right: 1px; padding: 5px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    background: #eee url(../images/bg_subnav.png) repeat-x;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset #fff 0px 1px 1px;
    -webkit-box-shadow: inset #fff 0px 1px 3px;
    box-shadow: inset #fff 0px 1px 1px;
  }
    nav.secondary_buttons li a:hover {
      color: #333;
      border: 1px solid #999;
    }
	
	END OLD SECONDARY BUTTON CSS*/
section#stats {
  width: 100%;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
  section#time {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  section#stats article.carrier {
    padding: 10px;
    overflow: hidden;
  }
    section#stats article.carrier h1 { margin-bottom: 20px; }
    section#stats article.carrier article.metric {
      margin-bottom: 20px;
      float: left;
      width: 50%;
    }
section#alerts {
  width: 100%;
  background: #fff;
}
  article.alert {
    padding: 10px 10px 10px 35px;
    border-bottom: 1px solid #ccc;
    background: url(../images/icon_alert.png) 10px 12px no-repeat;
  }
section#breadcrumbs {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
}
  section#breadcrumbs li {
    float: left;
  }
    section#breadcrumbs a {
      padding: 5px 25px 5px 10px;
      float: left;
      background: url(../images/bg_breadcrumb.png) right 50% no-repeat;
    }
    section#breadcrumbs a.active {
      color: #000;
      border: none;
      background: none;
      font-weight: normal;
    }
section.list_table {
  width: 100%;
  background: #fff;
}
  section.list_table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  section.list_table .thead, section.list_table table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
    section.list_table table th, section.list_table table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
  }
    section.list_table table th {
      padding: 5px 10px;
      background: #eee url(../images/bg_table_header.png) 0 50% repeat-x;
      font-size: 12px;
      color: #333;
      border: 1px solid #ddd;
      border-top: none;
    }

    section.list_table .thead{
      padding: 5px 10px;
      background: #eee url(../images/bg_table_header.png) 0 50% repeat-x;
      font-size: 12px;
      color: #333;
      border: 1px solid #ddd;
      border-top: none;
    }
    section.list_table table tr.repeated td { background: #f7f7f7; }
    
    section.list_table table tr.repeated span {
      padding: 2px 0 2px 24px;
    }

    section.list_table .num_menuitems { display: none; }
    section.list_table .num_menu { display: none;
    text-align: left;
    border-bottom: 1px solid #ddd;padding: 5px 10px;
      background: #eee url(../images/bg_table_header.png) 0 50% repeat-x;
      font-size: 12px;
      color: #333;
      border: 1px solid #ddd;
      border-top: none; }
  section.list_table tr.pagination 
  {
   margin:0px;
   padding:0px;
   width:100%;
   clear: both;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    font-weight: bold;
    background: #eee url(../images/bg_table_header.png) 0 50% repeat-x;
  }
  section.list_table tr.pagination td
  {
      padding: 0px;
      margin: 0px;
      font-size:14px;
    clear: both;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    font-weight: bold;
    background: #eee url(../images/bg_table_header.png) 0 50% repeat-x;
  }
    section.list_table tr.pagination a {
     padding: 5px 0px;
      font-size: 12px;
      
      }
      section.list_table tr.pagination span {
      padding: 5px 0px;
      font-size: 12px;
      width: 20%;
      text-align: center;
      border-right: 1px solid #ddd;
      }
    section.list_table tr.pagination .prev {
      float: left;
      width: 48%;
      text-align: center;
    }
      section.list_table tr.pagination .prev { border-right: 1px solid #ddd; }
    section.list_table tr.pagination .next {
      float: right;
      width: 48%;
      text-align: center;
    }
    section.list_table tr.pagination .next { border-left: 1px solid #ddd; }
.gridHover
{
    background-color: #ffffcc;
}
.blinking{
	animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;	}	
	50%{	color: transparent;	}
	100%{	color: #000;	}
}
section
{
	max-width: 100%;
	overflow-x: auto;
}